<div class="float-left">
  <h5>All Student List</h5>
</div>

<div class="clearfix">

  <div class="float-right">
    <a mat-raised-button color="primary" routerLink="../add">+ Student</a>
  </div>
</div>



<table class="table mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let studentInfo of dataSource">
      <td>{{studentInfo.name}}</td>
      <td>{{studentInfo.gender}}</td>
      <td>
        <a mat-stroked-button color="warn" (click)="deleteStudent(studentInfo.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a class="ml-3" mat-stroked-button color="primary" (click)="editStudent(studentInfo.id)"><i class="fa fa-pencil"
            aria-hidden="true"></i></a>
      </td>
    </tr>
    <tr>
  </tbody>
</table>



<div class="col-md-4 col-md-offset-4 pos-change">
  <div class="weather">
    <div class="current">
      <div class="info">
        <div>&nbsp;</div>
        <div class="city"><small><small>CITY:</small></small> Pune</div>
        <div class="temp">{{whetherDeg?.temp}}&deg; <small>C</small></div>
        <div class="wind"><small><small>WIND: {{whetherData?.speed}} km/h</small></small> </div>


        <div>&nbsp;</div>
      </div>
      <div class="icon">
        <span class="wi-day-sunny"></span>
      </div>
    </div>

  </div>

</div>
