<a mat-raised-button color="disabled" class="float-right" (click)="location.back()">Back</a>
<div class="card my-5">
  <div class="card-header">Add Student Data </div>
  <div class="card-body">

    <form [formGroup]="addStudentInfo" (ngSubmit)="onsubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter Student Name *" formControlName="name">
        </mat-form-field>

        <mat-radio-group formControlName="gender">
          <mat-radio-button *ngFor="let sgender of gender" [value]="sgender">{{sgender}}</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <textarea matInput placeholder="Textarea" formControlName="txt"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select" formControlName="std">
            <mat-option *ngFor="let qua of qualification" [value]="qua">{{qua}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="subject" (change)="onCheckChange($event)" *ngFor="let ssubject of csubject" [value]="ssubject">{{ssubject}}</mat-checkbox>

      </div>

      <button type="submit" mat-raised-button color="primary" class="float-right" [disabled]="!addStudentInfo.valid">+
        Add User</button>
    </form>

  </div>
</div>
