<a mat-raised-button color="disabled" class="float-right" (click)="location.back()">Back</a>
<div class="card my-5">
  <div class="card-header">Edit Student </div>
  <div class="card-body">
    <form *ngIf="getData" [formGroup]="editStudentInfo" (ngSubmit)="onsubmit()">
      <div class="example-container">

        <mat-form-field>
          <input matInput placeholder="Enter Student Name *" formControlName="name">
        </mat-form-field>

        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <textarea matInput placeholder="Textarea" formControlName="txt"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select" formControlName="std">
            <mat-option *ngFor="let qua of qualification" [value]="qua">{{qua}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox  formControlName="subject" value="Biology">Biology</mat-checkbox>

      </div>

      <button type="submit" mat-raised-button color="primary" class="float-right"> Edit user</button>
    </form>
  </div>
