/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-elevation-z8{
    box-shadow: none;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .weather
  {
      display: flex;
      flex-flow: column wrap;
      box-shadow: 0px 1px 10px 0px #cfcfcf;
      overflow: hidden;
  }

      .weather .current
      {
          display: flex;
          flex-flow: row wrap;
          background-image: url("assets/img/6.png");
          background-repeat: repeat-x;
          color: white;
          padding: 20px;
          text-shadow: 1px 1px #F68D2E;
      }

          .weather .current .info
          {
              display: flex;
              flex-flow: column wrap;
              justify-content: space-around;
              flex-grow: 2;
          }

              .weather .current .info .city
              {
                  font-size: 26px;
              }

              .weather .current .info .temp
              {
                  font-size: 56px;
              }

              .weather .current .info .wind
              {
                  font-size: 24px;
              }

          .weather .current .icon
          {
              text-align: center;
              font-size: 64px;
              flex-grow: 1;
          }

      .weather .future
      {
          display: flex;
          flex-flow: row nowrap;
      }

          .weather .future .day
          {
              flex-grow: 1;
              text-align: center;
              cursor: pointer;
          }

              .weather .future .day:hover
              {
                  color: #fff;
                  background-color: #F68D2E;
              }

              .weather .future .day h3
              {
                  text-transform: uppercase;
              }

              .weather .future .day p
              {
                  font-size: 28px;
              }
              .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
                min-width: 35px!important;
                padding: 0px!important;
              }
              .pos-change{
                  position: fixed;
                  right: 0px;
                  top:100px;
                  height: 50px;
                  width:300px;
              }

              .card, .card-header{
                  border-radius: 0px!important;
              }

              .card-header{
                background-color: #673ab7!important;
                color:#fff;
              }

              .mat-radio-container {
                margin-right: 10px!important;
            }
            .mat-radio-label-content {
                margin-right: 20px;
            }